[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[project]
	description = Nexell Unix Domain Socket Wrapper
[access "refs/*"]
	owner = group user/SeongO Park (raypark714)
	owner = group user/allan park (mcjino21)
	owner = group user/pybok81
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SeongO Park (raypark714)
	label-Verified = -1..+1 group user/SeongO Park (raypark714)
	push = group user/SeongO Park (raypark714)
	read = group user/SeongO Park (raypark714)
	rebase = group user/SeongO Park (raypark714)
	removeReviewer = group user/SeongO Park (raypark714)
	submit = group user/SeongO Park (raypark714)
[access "refs/heads/*"]
	create = group user/SeongO Park (raypark714)
	push = +force group user/SeongO Park (raypark714)
	pushMerge = group user/SeongO Park (raypark714)
	read = group user/SeongO Park (raypark714)
[access "refs/tags/*"]
	push = group user/SeongO Park (raypark714)
	push = +force group user/SeongO Park (raypark714)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
